{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" style="background: #ededed">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static 'blog/lib/js/jquery-3.0.0.js' %}"></script>
    <script src="{% static 'blog/js/service/api.js' %}"></script>
    <link rel="stylesheet" href="{% static 'blog/lib/css/bootstrap.min.css' %}">
</head>
<body style="min-width: 850px;background: #ededed">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'blog/css/user/register.css' %}">

    <a style="width: 100px; font-size: 45px; position: absolute;
     top: 37px; left: 40px; color: #eb6f59; font-family: 'Tw Cen MT'"
       href="{% url 'blog:index' %}">Blog</a>

    <div class="register">
        <h3><a class="register_title" href="{% url 'blog:register' %}">注册</a>·<a class="signin_title" href="{% url 'blog:sign_in' %}">登录</a></h3>
        {% block sign %}{% endblock %}
    </div>


<script src="{% static 'blog/js/base/base.js' %}"></script>
<script src="{% static 'blog/lib/js/bootstrap.min.js' %}"></script>


</body>
</html>



